<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />-->
    <!-- <link rel="stylesheet" href="../css/local-override.css" /> -->
    <!-- <link rel="stylesheet" href="../css/main.css" /> -->
    <!-- <link rel="stylesheet" href="../css/materialize.css" /> -->
    <!-- <link rel="stylesheet" href="../css/normalize.css" /> -->

    <meta name="theme-color" content="#fafafa" />
  </head>
  <body>
    <div class="container">
      <div class="card section">
        <div class="row">
          <div class="col s2">
            <img class="responsive-img" inline src="../img/glow.svg" />
          </div>
          <div class="col s8">
            <h4 class="center-align">Appointment Request</h4>
          </div>
        </div>
      </div>
      <div class="card section">
        <div class="row">
          <div class="col s12 m6">
            <p class="field-label">First Name</p>
            <p>
              <textarea class="materialize-textarea"><%= firstName%></textarea>
            </p>
          </div>
          <div class="col s12 m6">
            <p>
              <span class="field-label">Last Name</span>
            </p>

            <p>
              <textarea class="materialize-textarea"><%=lastName%></textarea>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <span class="field-label">Email</span>
            <p>
              <textarea class="materialize-textarea"><%= email%></textarea>
            </p>
          </div>
          <div class="col s12 m6">
            <span class="field-label">Mobile</span>
            <p>
              <textarea class="materialize-textarea"><%=mobile%></textarea>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <span class="field-label">Team</span>
            <p>
              <textarea class="materialize-textarea"><%= team%></textarea>
            </p>
          </div>
          <div class="col s12 m6">
            <span class="field-label">Seniority</span>
            <p>
              <textarea class="materialize-textarea"><%=seniority%></textarea>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <span class="field-label">Date & Time</span>
            <p>
              <textarea class="materialize-textarea"><%= dateTime%></textarea>
            </p>
          </div>
          <div class="col s12 m6">
            <span class="field-label">First Visit</span>
            <p>
              <textarea class="materialize-textarea"><%=firstVisit%></textarea>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <span class="field-label">Request</span>
            <p>
              <textarea class="materialize-textarea">
<%= requestInfo%></textarea
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
